* {
  font-family: helvetica, 'Courier New', Courier, monospace;
  margin: 0;
}
h1, p {
  font-family: Lato;
} 

.navbar {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.input-field {
  width: 60%;
  height: 2rem;
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
  border: 1px solid rebeccapurple;
}

.input-field:focus {
  outline: none;
}

.form {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  padding: 0.5rem auto;
}

.btn {
  margin-left: 1rem;
  padding: 0.8rem 1rem;
  background-color: rebeccapurple;
  font-size: 1.2rem;
  font-weight: 200;
  color: white;
  border: none;
  transition: all 0.5s ease-in-out
}

.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: rebeccapurple;
  border: 1px solid rebeccapurple
}

.weather-data {
  width: 90%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.city-title {
  font-size: 2.5rem;
}

.city-coord p, .city-add-data p{
  display: inline;
  margin: 0.5rem 0.8rem;
  font-size: 1.2rem;
  color: grey;
}
.city-temp {
  margin: 1rem 0 0;
  font-size: 6rem;
}
.city-desc {
  color: rebeccapurple;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
  text-transform: capitalize;
}

.city-temp span{
  color: rebeccapurple;
  font-size: 3rem;
  font-style: superscript;
  vertical-align: super;
  margin: 0.5rem;
}

.error-class {
  color: red;
  font-size: 2rem;
}